.recommended_pharmacy .mu-list {
    max-height: 5rem;
    margin-bottom: 0.3rem;
    overflow-y: auto
}

.mu-appbar-title {
    display: flex;
    justify-content: center;
}

.wheel ul {
    padding: 0;
}

.mu-content-block {
    padding: 8px 16px;
    width: 100%;
    padding-left: 0;
}

.mu-flexbox-item .mu-raised-button {
    width: auto;
    min-width: 8px;
}

.mu-flexbox-item .mu-raised-button.label-before .mu-raised-button-wrapper {
    padding-right: 0px;
}

.proposal .mu-raised-button {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 1px 4px rgba(0, 0, 0, 0);
    /* height: 25px;
    line-height: 25px; */
}

.proposal .mu-raised-button.label-before .mu-raised-button-label {
    padding-right: 0px;
    padding-left: 5px;

}

.yizhu .mu-raised-button.label-before .mu-raised-button-label {
    width: 158px;
    line-height: 16px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.proposal .mu-raised-button-wrapper {
    justify-content: flex-end;
}

.proposal2 .mu-raised-button {
    /* box-shadow: 0 1px 3px rgba(0, 0, 3, 0), 0 1px 4px rgba(0, 0, 0, 0); */
    height: 25px;
    line-height: 25px;
    min-width: 8px;
}

.proposal2 .mu-raised-button.label-before .mu-raised-button-label {
    padding-right: 0px;
    padding-left: 5px;
}

.proposal2 .mu-raised-button-wrapper {
    justify-content: flex-end;
    padding-right: 0px;
}

.proposal2 .mu-raised-button.label-before .mu-raised-button-wrapper {
    padding-right: 0;
}

.proposal2 .mu-content-block {
    padding-right: 0;
    padding: 8px 0;
    width: auto;
}

.name .mu-text-field-content {
    margin-top: 5px;
}

.recommended_pharmacy {
    width: 95%;
    /* max-width: 375px; */
}

.tuijya .mu-raised-button-label {
    padding-right: 0;
    /* color: #b55444; */
}

.tuijya .mu-content-block {
    font-weight: bold;
}

.proposal .mu-text-field-content {
    padding-top: 12px;
}

.mulist {
    padding-left: 20px;
    padding-right: 20px
}


/* .mulist .mu-text-field.multi-line .mu-text-field-hint {
    font-size: 15.5px
} */

.mulist .mu-divider {
    margin: 10px 0;
}

.mutabs {
    background: #f7f7f7;
    color: #333
}

.mutabs .mu-tab-active {
    color: #333
}

.mutabs .mu-tab-link {
    color: #333
}

.mutabs .mu-tab-link-highlight {
    height: 0;
}

.mulist .tabline {
    margin: 0
}

.mulist .ftime {
    height: 47px;
}

.mulist .time {
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 0;
}

.tab3_list {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0;
    margin: 8px 0
}

.proposal .username {
    padding: 0;
    margin-top: 6px;
}

.mu-popover {
    max-height: 350px;
    overflow-y: auto
}

.beizhu .mu-text-field-multiline {
    min-height: 47px
}

.beizhu .mu-text-field-content {
    padding-bottom: 0px;
}

.beizhu .mu-text-field-multiline .mu-text-field-textarea {
    padding: 5px 20px 0px 0px;
}

.dis_type {
    /* justify-content: space-around; */
    margin: 10px 0;
    padding: 0 10px;
    /* overflow-x: auto */
}
.dis_type .mu-raised-button{
    margin-right: 15px;
    margin-bottom: 10px
}
.dis_type .mu-raised-button-label {
    padding-right: 16px
}

.pricelist .mu-item {
    padding: 0;
    min-height: 33px;
}

.submissions {
    display: flex;
    justify-content: center;
    margin: 10px 0 520px 0;
}

.submissions .mu-raised-button-label {
    margin-right: 16px
}

.submissions .mu-raised-button {
    min-width: 170px;
}

.expname .mu-flat-button-label{
    padding-left: 0;
    padding-right: 0
}
.expnameinput{
    width: auto;
}
.expnameinput .mu-text-field-content{
    margin-top: 7px;
    margin-left: 5px;
}
.expnameinput .mu-text-field-input{
    /* border-bottom:1px solid #999 */
}
.mu-dialog{
    width: 92%;
}
 .exp{
    margin-right: 10px;
    margin-top: 10px;
}

.totalprice .mu-item-after{
    color: red;
    font-size: 22px;
}
.redcoloe .mu-item-after{
    color: red;
}
.yongfa{
    height: 47px;
}
.yongfa .mu-content-block{
    width: auto
}
.yongfa .mu-raised-button{
    margin-right: 20px;
    height: 30px;
    min-width: 70px;
}

.addimg .mu-flat-button-label{
    padding-top: 30px;
}